/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 900;
  --weight-bold: 700;
  --weight-medium: 600;
  --weight-regular: 400;
  --weight-light: 300;
  --weight-thin: 100;

  /* Size */
  --size-border-radius: 4px;

  /* Animation Duration */
  --animation-duration: 300ms;
}

/* Unviversal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 0 80px;
  background-color: var(--color-dark-grey)
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-dark-grey);
  opacity: 0.5;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border: 1px solid white;
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url(/imgs/homebackground.png)
    center/cover no-repeat;
  padding: 0 80px;
  text-align: left;
  height: 630px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin-top: 100px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: orange;
}

.home__container {
  padding-top: 250px;
}


/* Section common */
.section {
  padding: 40px;
  text-align: center;
  margin: auto;
}

.section__container {
  box-sizing: border-box;
  max-width: 1760px;
  margin: auto;
}

/* Category */

#categoryItems {
  display: inline-block;
  position: sticky;
  padding: 16px 40px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 100%;
}

.categoryItems__container {
}

.categoryItem {
  display: inline-block;
  white-space: nowrap;
  padding: 4px 6px 4px 0px;
  box-sizing: border-box;
  margin: 0px;
}
.categoryItemBtn {
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--color-grey);
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: var(--weight-light);
  color: #222222;
  line-height: 16px;
}


/* Cards */

#hotPlaces {
  text-align: left;
  max-width: 1760px !important;
  padding: 20px 80px;
}
#newPlaces {
  text-align: left;
  max-width: 1760px !important;
  padding: 20px 80px;
}


.card__container__name {
  font-size: 22px;
  font-weight: var(--weight-regular);
  margin-bottom: 16px;
  padding-left: 8px;
}
.card__container {
  display: flex;
  width: 100%;
}

.card {
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--color-white);
  background-color: white;
  color: black;
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  padding : 0 8px;
}
.card__imgBox {
  width: 254px;
  height: 337px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

#card__img {
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.card__tags {
  display: flex;
  font-size: var(--font-micro);
}

.card__rating {
  margin-right: 5px;
}

.fa-star {
  color: #ff1744;
}

.card__subtitle {
  margin-top: 7px;
}

.card__title {
  font-size: 22px;
  font-weight: var(--weight-regular);
}


/* Contact */
#contact {
  margin-top: 80px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.contact__title,
.contact__email,
.contact__rights,
.fa-linkedin-square,
.fa-github {
  color: var(--color-light-grey);
}

.contact__title {
  margin: 32px 0;
}

.contact__links i {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
  color: var(--color-light-grey);
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color:  rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}
/* For below 768px screen width */
@media screen and (max-width: 850px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-pink);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
    margin-bottom: 0px;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .job__description {
    margin-right: 0px;
  }

  .job__period {
    font-size: var(--font-small);
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 30px;
    right: 16px;
    bottom: 50px;
  }
}
